.stats-font-style {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}

.divider {
  border: solid;
  border-width: 0.02rem;
  border-color: #999999;
  background-color: #999999;
}

.request-descriptor {
  text-transform: uppercase;
  color: #666666;
  font-weight: bold;
}
