// $primary: rgb(230, 120, 35) !default;
$primary: #f5791b !default;
$light: #fff !default;

$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 1.8rem !default;

@import "../node_modules/bootstrap/scss/bootstrap";
