.request-type-icon {
  width: 5.5em;
  cursor: pointer;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}
